[Desktop Entry]

Exec=kcmshell4 devinfo
Icon=device-notifier
Type=Service

# Set the type of module to a KCModule
X-KDE-ServiceTypes=KCModule

# Sets the priority of the KCModule, the priority sets where the module shall 
# appear in KInfoCenter tree view
X-KDE-Weight=10

# Adds a category, if the category does not exist a new one shall be created.
# Needs KDE 4.5
X-KDE-KInfoCenter-Category=Examples

X-KDE-Library=kcontrolmoduleexample
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/kinfocenterexample.html

Name=KInfoCenter Example
Comment=A KInfoCenter Example

X-KDE-Keywords=example,kdeexamples
Categories=Qt;KDE;X-KDE-information;
