[Desktop Entry]

Exec=kcmshell4 devinfo
Icon=device-notifier
Type=Service

# Set the type of module to a KCModule
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=10

# Adds the kcontrol module to the personal category
X-KDE-System-Settings-Parent-Category=personal

X-KDE-Library=kcontrolmoduleexample
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/kcontrolmoduleexample.html

Name=System Settings Example
Comment=A System Settings Example

X-KDE-Keywords=example,kdeexamples
Categories=Qt;KDE;X-KDE-information;
