[Desktop Entry]
Name=ScrollWidget Example
Comment=ScrollWidget Example
Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_scrollwidgetexample
X-KDE-PluginInfo-Author=Ryan Rix
X-KDE-PluginInfo-Email=ry@n.rix.si
X-KDE-PluginInfo-Name=org.kde.plasma.scrollwidgetexample
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
