[Desktop Entry]
Encoding=UTF-8
Name=Example HTML wallpaper
Comment=Puts a web page on your wallpaper

Type=Service
ServiceTypes=Plasma/DeclarativeWallpaper
Icon=applications-toys
X-Plasma-MainScript=qml/html5wp.qml
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.html5wallpaper
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
