[Desktop Entry]
Comment=Demonstrates the user of the geolocation dataengine from javascript
Encoding=UTF-8
Keywords=
Name=Sample Javascript Geolocation
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Richard Moore
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Email=rich@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=javascript_geolocation_example
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=javascript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=code/main.js
X-Plasma-RemoteLocation=
