[Desktop Entry]
Name=Tooltips Example
Type=Service
ServiceTypes=Plasma/Applet

X-Plasma-Defaultsize=300,400

X-KDE-Library=plasma_applet_example_tooltips
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.exampletooltips
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
