[Desktop Entry]
Name=Example Addon
Comment=For the Using Addons Javascript example

X-KDE-ServiceTypes=Plasma/JavascriptAddon
Type=Service
X-Plasma-API=javascript

X-KDE-Library=
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.usingAddons.testAddon
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=org.kde.plasma.javascript-addons-example
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
